<h2>MáGadelha <em>Art</em></h2>

<p class="lead">
  Nascida em São Paulo em 1972, <strong>Mariana Gadelha</strong> é arquiteta e urbanista cuja visão artística sempre fez parte de seu DNA. Para ela, a <strong>arte cura, transcende e conta as histórias que importam</strong>.
</p>

<hr class="rule">

<p>
  Combinando a precisão arquitetônica com a profundidade emocional, ela transforma ritmo, estrutura e cor em expressões vivas da experiência humana através de sua técnica de assinatura: <strong>caneta Posca sobre tela</strong>.
</p>

<h3>Exposições Selecionadas</h3>

<h4>Estados Unidos (EUA)</h4>
<p>
  <strong>Detroit, MI:</strong> Artistry Day, House of Creators, The Vault, Vivace.co & Belafacci.<br>
  <strong>Miami, FL:</strong> Here We Are, Arthood56 Gallery, One, 2nd Ave Gallery (part of the Art Basel Miami 2019 circuit).
</p>

<h3>Europa</h3>
<p>
  Suas obras já percorreram centros culturais importantes, incluindo o <strong>Carrousel du Louvre</strong> em Paris, França. É representada pela <em>Busart Gallery ES</em> em Madrid, Espanha, além de exposições na <em>Cour des Arts Gallery</em> (Hannut, Bélgica) e no <em>Nachtwandel Festival</em> (Mannheim, Alemanha).
</p>

<h3>Brasil</h3>
<p>
  <strong>São Paulo, SP:</strong> <em>Impressões Contemporâneas</em> (Gabriel Wickbold Gallery), <em>Horizontes Paralelos</em> (Galeria Lacerdine) e mostras na <em>The Coast Gallery</em>.
</p>

<p>
  <strong>Campinas, SP:</strong> Possui um histórico consistente com as exposições <em>Luta</em> (2020), <em>Out of the Box</em> (2021), <em>A Cura</em> (2022), além do projeto <em>NQHOMA - Nos que habitamos o mundo alheio</em> na Ligia Testa Gallery (2024) e participação na <em>Campinas Decor</em> (2024).
</p>

<p class="lead">
  Recentemente, em 2025, integrou a <strong>Noite dos Museus</strong> na Galeria Casa100, em Porto Alegre, RS.
</p>

<h3>Contato</h3>
<ul class="contact">
  <li><strong>Instagram:</strong> <a href="https://www.instagram.com/mariana.gadelha" target="_blank">@mariana.gadelha</a></li>
  <li><strong>Site:</strong> <a href="https://www.barrettogadelha.com.br/" target="_blank">https://www.barrettogadelha.com.br</a></li>
</ul>